@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');

*{
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  font-family: 'Fuzzy Bubbles', cursive !important;
}

.text-primary{
  color: #ffffff !important;
}

.bg-primary{
  background-color: #575FCF !important;
}

.bg-danger{
  background-color: #DD3C3C !important;
}

.btn-success {
  background-color: #264653 !important;
  border-color: #264653 !important;
  color: #ffffff !important;
}
